@media (max-width: 415px) {
    .slider{
        min-height: 192px;
    }
    .submenu__header__cart {
        
        left: 8%;
    }
    .menu__link{
        font-size: 25px;
    }
    .nav{
        height: 490px;
    }
    .header{
        height: 73px;
    }
    .menu__list{
        border: 1px solid #ececec;
        width: 100%;
    }
    .menu{
        text-align-last: center;
    }
    .e{
        max-width: 415px;
flex-direction: column;
    }
    .subscribe__text__three_main{
        top: 34%;
        left: -5%;
    }
    .input__subscribe{
        padding-left: 70px;
        width: 200px;
        margin-left: 35px;
    }
    .subscribe__button__rect{
        padding-left: 2px;
        width: 70px;
    }
    .subscribe__text__one__main{
        left: 0%;
        top: 6%;
    }
    .subscribe__image{
        TOP: 5PX;
        left: 251PX;
        width: 67px;
        height: 67px;
    }
    .subscribe__text__one{
        width: 293px;

    }
    .productt_box{
        min-width: 324px;
    }
    .product_bigg{
        min-height: 312px;
    }
    .productt{
        min-height: 182px;
        background-size: cover;
    }
    .productt_text{
        width: 104px;
        font-size: 11px;
        padding-left: 13px;
        padding-right: 6px;
        height: 48px;
        
    }
    .productt_text_{
        font-size: 14px;
    }
    .promo__h2{
        top: 23%;
        left: 4%;
        font-size: 40px;
    }
    .promo__h3{
        font-size: 17px;
        top: 41px;
        width: 236px;
    }
    .promo__color{
        font-size: 20px;
    }
    .company__footer{
        top: 284px;
        left: 40%;
    }
    .info__footer{
        top: 693px;
        left: 35%;
    }
    .shop_footer{
        top: 1083px;
        left: 33%;
    }
    .logo__footer{
        left: 9%;
    }
    .brand__footer__text__block{
        width: 251px
    }
    .brand__footer{
        top: -129px;
        left: 23%;
    
    }
    .company__list__main{
        text-align: center;
    }
    .info__list__main{
        text-align: center;
    }
    .shop__list__main{
        text-align: center;
        width: 160px;
    }
    .blockk{
        margin-top: 35px;
    }
    .Browse__button__two {
        left: 0%;
        width: unset;
    }
    .subscribe__text__two{
        left: 286px;
        top: 110px;
        position: absolute;
    }
}